
<% content_for :sidebar do %>
  <%= render partial: 'revisions', locals: { gist: @gist } %>
  <span class='copy-input-title'><b>Clone</b> this Gist</span>
  <input type="text" class="span2 copy-input" value="<%= public_clone_url(@gist) %>"/>
  <span class='copy-input-title'><b>Link to</b> this Gist</span>
  <input type="text" class="span2 copy-input" value="<%= public_clone_url(@gist) %>"/>
<% end %>

<div class="row">
  <div class="span3 pull-right text-pull-right">

    
    <%= link_to fa_icon('edit',  :text => "Edit"), edit_gist_path(@gist), class: 'btn' %>
    <%= link_to fa_icon('trash-o', :text => "Delete"), @gist, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>

<div class="gist">

  <table class="table table-bordered meta" cellpadding="0" cellspacing="0">
    <tbody>
      <tr class="info">
        <th class="span2">Description </th>
        <td style="color: #777;"> <%= @gist.description.empty? ? 'No description...' : @gist.description %> </td>
      </tr>
    </tbody>
  </table>

  <%- @tree.each do |b| %>
  <%= b.inspect %>
    <% gb = GistFilePresenter.new(b) %>
    <%= gb.inspect %>
    <div class="file">
      <div class="row">
        <div class="meta span8"> <b><%= fa_icon('file-text', :text => b.name) %></b></div>
        <div class="meta span1 text-pull-right"> 
          <%= link_to(fa_icon('code'), gist_raw_url(@gist.id, b.oid, b.name), :data => {:toggle => 'tooltip'}, :class => 'gtooltip', :title => 'View Raw') %> </div>
      </div>
      <div class="data syntax"> <%= gb.pretty_content %> </div>
    </div>

  <% end %>

</div>

<div class="row">
  <div id="new-comment">
    <%= render :partial => 'comments/form', locals: {:gist => @gist, :comment => Comment.new} %>
  </div>
</div>

<div class="row">
  <div id="gist-comments" class="offset1">
    <% @gist.comments.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Username 
          <span class="pull-right">
            <abbr class="timeago " title="<%= (time = comment.created_at.getutc).iso8601 %>"> <%= time.to_s %></abbr>
          </span>
        </div>
        <div class="panel-body">
          <%= render :partial => 'comments/inline_comment', :locals => {:comment => comment} %>
        </div>
      </div>
    <% end %>
  </div>
</div>